force-app/main/default/flows/AfterSales_JobOrder_Pause_ProcessFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Decision to identify that varjoborderclockingMostRecent record is not null.</description>
        <name>JobOrderClockingIsAvailable</name>
        <label>JobOrderClockingIsAvailable</label>
        <locationX>422</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>No Active Job Order Clocking</defaultConnectorLabel>
        <rules>
            <name>JobOrderClockingIsNotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMostRecentJobOrderClockingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noOpenJobOrderClocking</targetReference>
            </connector>
            <label>JobOrderClockingIsNotPresent</label>
        </rules>
        <rules>
            <name>JobOrderIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMostRecentJobOrderClockingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record</targetReference>
            </connector>
            <label>JobOrderIsPresent</label>
        </rules>
    </decisions>
    <description>This flow is associated with Pause button on Job Order Object</description>
    <interviewLabel>AfterSales_JobOrder_Pause_ProcessFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AfterSales_JobOrder_Pause_ProcessFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This method will get the most recent Job Order Clocking record.</description>
        <name>GetMostRecentJobOrderClockingRecord</name>
        <label>GetMostRecentJobOrderClockingRecord</label>
        <locationX>212</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JobOrderClockingIsAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>JobOrderClocking__c</object>
        <outputAssignments>
            <assignToReference>varMostRecentJobOrderClockingRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>701</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>finalScreenMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMostRecentJobOrderClockingRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>JobOrderClocking__c</object>
    </recordUpdates>
    <screens>
        <description>This screen will be shown at the end of the flow.</description>
        <name>finalScreenMessage</name>
        <label>finalScreenMessage</label>
        <locationX>701</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>varshowMessage</name>
            <fieldText>&lt;p&gt;Job Order Clocking has Paused.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen will show the message that no Active/Open Job Order is preenst</description>
        <name>noOpenJobOrderClocking</name>
        <label>endScreenMessage</label>
        <locationX>428</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>varNoActiveJobOrderClockingRecord</name>
            <fieldText>&lt;p&gt;{!noActiveJobOrderClockingRecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>86</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>GetMostRecentJobOrderClockingRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable is used to show final message to the User when no Open/Active Job Order clocking record is found for the Job Order record in the context.</description>
        <name>noActiveJobOrderClockingRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Job Order clocking was not initiated.</stringValue>
        </value>
    </variables>
    <variables>
        <description>This variable will hold the Id of Job Order in context</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the most recent job order clocking record for the job order in the context of the flow</description>
        <name>varMostRecentJobOrderClockingRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
