force-app/main/default/flows/AfterSales_JobOrder_Done_ProcessFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JobOrderIdValue</name>
        <label>JobOrderIdValue</label>
        <locationX>997</locationX>
        <locationY>323</locationY>
        <actionName>AfterSales_JobOrder_CreateChatterPost</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalScreenMessage</targetReference>
        </connector>
        <inputParameters>
            <name>jobOrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Decision to identify that varjoborderclockingMostRecent record is not null.</description>
        <name>JobOrderClockingIsAvailable</name>
        <label>JobOrderClockingIsAvailable</label>
        <locationX>392</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JobOrderClockingIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMostRecentJobOrderClockingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record</targetReference>
            </connector>
            <label>JobOrderClockingIsPresent</label>
        </rules>
        <rules>
            <name>JobOrderClockingIsNotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMostRecentJobOrderClockingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Order_Record</targetReference>
            </connector>
            <label>JobOrderClockingIsNotPresent</label>
        </rules>
    </decisions>
    <description>This flow is associated with Done button on Job Order Object</description>
    <interviewLabel>AfterSales_JobOrder_Done_ProcessFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AfterSales_JobOrder_Done_ProcessFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This method will get the most recent Job Order Clocking record.</description>
        <name>GetMostRecentJobOrderClockingRecord</name>
        <label>GetMostRecentJobOrderClockingRecord</label>
        <locationX>212</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JobOrderClockingIsAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>JobOrderClocking__c</object>
        <outputAssignments>
            <assignToReference>varMostRecentJobOrderClockingRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>This variable will hold job owner id of job order record in context</description>
        <name>varJobOrderRecord</name>
        <label>varJobOrderRecord</label>
        <locationX>41</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMostRecentJobOrderClockingRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Repair__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ChatterPostMessage__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>658</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Update_Job_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMostRecentJobOrderClockingRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>JobOrderClocking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Order_Record</name>
        <label>Update Job Order Record</label>
        <locationX>805</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>JobOrderIdValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>This screen will be shown at the end of the flow.</description>
        <name>finalScreenMessage</name>
        <label>finalScreenMessage</label>
        <locationX>998</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>varshowMessage</name>
            <fieldText>&lt;p&gt;Job Order is completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>86</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>varJobOrderRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{{!varJobOrderRecord.WorkOrderNumber}__NotFound}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>joborderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>jobOrderRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to show final message to the User when no Open/Active Job Order clocking record is found for the Job Order record in the context.</description>
        <name>noActiveJobOrderClockingRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Job Order clocking was not inititated.</stringValue>
        </value>
    </variables>
    <variables>
        <description>This variable will hold the Id of Job Order in context</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJobOrderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>This variable will hold the most recent job order clocking record for the job order in the context of the flow</description>
        <name>varMostRecentJobOrderClockingRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
