force-app/main/default/flows/AS_CreateRepairQuote_from_ServiceBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Local_PriceBook_exists</name>
        <label>Local PriceBook exists</label>
        <locationX>971</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_National_PriceBook</targetReference>
            </connector>
            <label>Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_PriceBook_Found_Loc_Nat</name>
        <label>No PriceBook Found (Local ou National)</label>
        <locationX>1186</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_PriceBook_found</targetReference>
            </connector>
            <label>not found</label>
        </rules>
    </decisions>
    <description>GD_2131</description>
    <interviewLabel>AS_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_CreateRepairQuote_from_ServiceBooking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Repair Quote</label>
        <locationX>985</locationX>
        <locationY>1235</locationY>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Get_Service_Booking_Data.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceBook__c</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair__c</field>
            <value>
                <elementReference>Get_Service_Booking_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Get_Service_Booking_Data.Requester__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>Get_Service_Booking_Data.Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <object>RepairQuote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_National_PriceBook</name>
        <label>Get National PriceBook</label>
        <locationX>1199</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_PriceBook_Found_Loc_Nat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Booking_Data.Department__r.Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Headquarter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Find the apropriate pricebook based on the premiss that every department can only have one active pricebook (and at least one pricebook for the department should exist)</description>
        <name>Get_PriceBook</name>
        <label>Get PriceBook (department)</label>
        <locationX>979</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Local_PriceBook_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_No_pricebook_for_this_department</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Booking_Data.Department__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the fundamental information regarding the service booking that will be copied to the header object of repair quote</description>
        <name>Get_Service_Booking_Data</name>
        <label>Get Service Booking Data</label>
        <locationX>979</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Repair__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Repiar_Quote_Creation</name>
        <label>Confirm Repair Quote Creation</label>
        <locationX>979</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Booking_Data</targetReference>
        </connector>
        <fields>
            <name>RepairQuoteHelp</name>
            <fieldText>&lt;p&gt;Press &quot;Next&quot; to create a new &quot;Repair Quote&quot; based in the current &quot;Service Booking&quot;. Press &quot;X&quot; if you want to cancel this operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_No_pricebook_for_this_department</name>
        <label>Error Message: No pricebook for this department</label>
        <locationX>1278</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Help_No_Pricebook</name>
            <fieldText>&lt;p&gt;Error finding the local pricebook for (&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Service_Booking_Data.Department__r.Name}&lt;/span&gt; ). Please call your system administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_PriceBook_found</name>
        <label>No PriceBook found</label>
        <locationX>1484</locationX>
        <locationY>1048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;No Pricebook (national or local ) was found for this Service Center - {!Get_Service_Booking_Data.Department__r.Name}- (in the repair quote you will have to manually update the Pricebook).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>853</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Confirm_Repiar_Quote_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The pricebook that will be used in the quote</description>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Id of the current Service Booking</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
