force-app/main/default/flows/AS_GetLegalText_VehicleConditionReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Created By: Neha Aggrawal
Created Date: 18 Jan 21
User Story: https://jira.hyundai-autoever.eu/browse/GD-1026</description>
    <interviewLabel>AS_GetLegalText_VehicleConditionReport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_GetLegalText_VehicleConditionReport</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>575</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Legal_Text_and_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pickup</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StatusConfirmation__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Legal_Text_and_RecordType</name>
        <label>Update Legal Text and RecordType</label>
        <locationX>237</locationX>
        <locationY>343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GDPR_Legal_Texts__c</field>
            <value>
                <elementReference>$Record.Repair__r.Department__r.GDPRLegal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Texts__c</field>
            <value>
                <elementReference>$Record.Repair__r.Department__r.Legal_texts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>StatusConfirmation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
        <object>StatusConfirmation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
