force-app/main/default/flows/AS_JobOrder_Sharing_on_Create_or_Department_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AfterSales_TriggerHandler_RecordSharing</name>
        <label>AfterSales_TriggerHandler_RecordSharing</label>
        <locationX>448</locationX>
        <locationY>363</locationY>
        <actionName>AfterSales_TriggerHandler_RecordSharing</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__lstSobject</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>lstSobject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Department_Changed_or_new_record_created</name>
        <label>Check if Department Changed or new record created</label>
        <locationX>637</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_record_or_department_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Department__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Department__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AfterSales_TriggerHandler_RecordSharing</targetReference>
            </connector>
            <label>New record or department changed</label>
        </rules>
    </decisions>
    <description>Created By: Neha Aggrawal
Created Date: 07 Jan 2021
User Story: https://jira.hyundai-autoever.eu/browse/GD-1546
Description:  Call AfterSales_TriggerHandler_RecordSharing for sharing the record</description>
    <interviewLabel>AS_JobOrder Sharing on Create or Department Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_JobOrder Sharing on Create or Department Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Department_Changed_or_new_record_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
