force-app/main/default/flows/AS_Notification_technician_about_job_orders1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_job_order_notification</name>
        <label>Send job order notification</label>
        <locationX>1290</locationX>
        <locationY>296</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_Custom_Notification.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>JobOrderOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Job_Order_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_all_parts_for_job_order_line_items</name>
        <label>Get all parts for job order line items</label>
        <locationX>982</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>PartsName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Job_order_records.ProductMasterFile__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Job_order_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_job_order_owner_Id</name>
        <label>Get job order owner Id</label>
        <locationX>1078</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>JobOrderOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Order_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_job_order_notification</targetReference>
        </connector>
    </assignments>
    <description>Created By: Neha Aggrawal
Created Date: 28 Jan 2021
User Story: https://jira.hyundai-autoever.eu/browse/GD-2224</description>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>AS_Notification technician about job orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_Notification technician about job orders1</label>
    <loops>
        <name>Loop_through_the_Job_order_records</name>
        <label>Loop through the Job order records</label>
        <locationX>726</locationX>
        <locationY>69</locationY>
        <collectionReference>Get_Job_Oder_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_parts_for_job_order_line_items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Job_Order_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>236</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Oder_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sendJobOrderNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Oder_Line_Items</name>
        <label>Get Job Oder Line Items</label>
        <locationX>554</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_Job_order_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobOderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LineItemType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Order_Record</name>
        <label>Get Job Order Record</label>
        <locationX>851</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_job_order_owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobOderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Notification_technician_about_job_orders} {!Get_Job_Order_Record.WorkOrderNumber}{!$Label.Notification_technician_about_job_orders_2} {!PartsName}</text>
    </textTemplates>
    <variables>
        <name>JobOderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobOrderOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
