force-app/main/default/flows/AS_ProductRequestLineItemUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Inventory_record_found</name>
        <label>Check if Inventory record found</label>
        <locationX>263</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Request_Line_Item</targetReference>
            </connector>
            <label>Inventory Found</label>
        </rules>
        <rules>
            <name>Inventory_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_from_Department</targetReference>
            </connector>
            <label>Inventory Not Found</label>
        </rules>
    </decisions>
    <description>Created By: Neha Aggrawal
Created Date: 21st  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-826
Description: Update Product Item(Inventory) and Product Request Line Item when a Product Request Line Item new record is saved. 
Created Date from Product Request Line Item is updated to Last Purchase Date of Product Item(Inventory) and Product Item(Inventory) Id is updated to lookup field of Product Request Line Item record.</description>
    <interviewLabel>AS_ProductRequestLineItemUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_ProductRequestLineItemUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_Record</name>
        <label>Create Inventory Record</label>
        <locationX>754</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Update_Product_Inventory</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Parent.Department__r.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DepartmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Get_Location_from_Department.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>GetProductItem(InventoryRecord)</label>
        <locationX>102</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Inventory_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_from_Department</name>
        <label>Get Location from Department</label>
        <locationX>459</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Inventory</name>
        <label>Update Product Inventory</label>
        <locationX>940</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Update_Product_Request_Line_Item1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Inventory_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Purchase_Date1__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Item_Inventory</name>
        <label>Update Product Item(Inventory)</label>
        <locationX>1014</locationX>
        <locationY>189</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Purchase_Date1__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Request_Line_Item</name>
        <label>Update Product Request Line Item</label>
        <locationX>771</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Update_Product_Item_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Item_Inventory__c</field>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Request_Line_Item1</name>
        <label>Update Product Request Line Item</label>
        <locationX>1130</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Item_Inventory__c</field>
            <value>
                <elementReference>Create_Inventory_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <object>ProductRequestLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DepartmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Parent.Department__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Product2.Id</elementReference>
        </value>
    </variables>
</Flow>
