force-app/main/default/flows/AS_ProductItemQuantityReservedUpdate1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Get_All_Required_Quantity</name>
        <label>Get All Required Quantity</label>
        <locationX>720</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>TotalRequiredQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Product_Required_Records.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Product_Required_Records</targetReference>
        </connector>
    </assignments>
    <description>Created By: Neha Aggrawal
Created Date: 28th  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-1606
Description: Update Product Item(Inventory)  when Product Required is Created or Updated for Quantity Reserved field.</description>
    <interviewLabel>AS_ProductItemQuantityReservedUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_ProductItemQuantityReservedUpdate</label>
    <loops>
        <name>Loop_through_Product_Required_Records</name>
        <label>Loop through Product Required Records</label>
        <locationX>480</locationX>
        <locationY>119</locationY>
        <collectionReference>ProductRequiredCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Required_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Item_Inventory_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Required_Records</name>
        <label>Get Product Required Records</label>
        <locationX>181</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Product_Required_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item_Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>ProductRequiredCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityRequired</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Item_Inventory_Records</name>
        <label>Update Product Item Inventory Records</label>
        <locationX>817</locationX>
        <locationY>126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Reserved__c</field>
            <value>
                <elementReference>TotalRequiredQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_Required_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductRequiredCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalRequiredQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
