force-app/main/default/flows/AS_sendNotification_for_Vehicle_Inspection_Report_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendVehicleInspectionCompleteNotification</name>
        <label>SendVehicleInspectionCompleteNotification</label>
        <locationX>1052</locationX>
        <locationY>294</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_Custom_Notification.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AssignedGTAId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_GTA_Representative</name>
        <label>Get GTA Representative</label>
        <locationX>1045</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>AssignedGTAId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Assigned_GTA.Representative__r.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendVehicleInspectionCompleteNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssignedGTA</name>
        <label>Set AssignedGTA</label>
        <locationX>871</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>AssignedGTAId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Assigned_GTA.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendVehicleInspectionCompleteNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_GTA_active</name>
        <label>Check if GTA active</label>
        <locationX>606</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GTA_active_and_user_assigned_to_GTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.EmploymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AssignedGTA</targetReference>
            </connector>
            <label>GTA active and user assigned to GTA</label>
        </rules>
        <rules>
            <name>GTA_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.EmploymentStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rep_Check</targetReference>
            </connector>
            <label>GTA inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_assigned_to_GTA</name>
        <label>Check user assigned to GTA</label>
        <locationX>718</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_assigned_to_GTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AssignedGTA</targetReference>
            </connector>
            <label>user assigned to GTA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rep_Check</name>
        <label>Rep Check</label>
        <locationX>460</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rep_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.Representative__r.EmploymentStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_user_assigned_to_GTA</targetReference>
            </connector>
            <label>Rep Inactive</label>
        </rules>
        <rules>
            <name>Rep_Active_and_user_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.Representative__r.EmploymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Assigned_GTA.Representative__r.User__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GTA_Representative</targetReference>
            </connector>
            <label>Rep Active and user assigned</label>
        </rules>
    </decisions>
    <description>Created By: Neha Aggrawal
Created Date: 01 Feb 2021
User Story: https://jira.hyundai-autoever.eu/browse/GD-2205</description>
    <interviewLabel>AS_sendNotification for Vehicle Inspection Report Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_sendNotification for Vehicle Inspection Report Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_GTA</name>
        <label>Get Assigned GTA</label>
        <locationX>452</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_GTA_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Booking__r.Vehicle__r.Account.Assigned_GTA__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>324</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_GTA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SendVehicleInspectionCompleteNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle_Inspection_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}: {!$Label.Notification_for_vehicle_inspection_report_EVHC}{!$Record.Service_Booking__r.Name}</text>
    </textTemplates>
    <variables>
        <name>AssignedGTAId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
