force-app/main/default/flows/AS_UpdateETDDateonProductItem_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <description>Created By: Neha Aggrawal
Created Date: 21st  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-826
Purpose: This flow will update Expected date of Delivery on Product Item(Inventory) by computing the earliest ETD date on Product Request Line Item records.</description>
    <interviewLabel>AS_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_UpdateETDDateonProductItem(Inventory)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Request_Line_Item_Records</name>
        <label>Get Product Request Line Item Records</label>
        <locationX>184</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Item_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item_Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItem_InventoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <sortField>ETD_Date1__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Item_Inventory</name>
        <label>Update Product Item (Inventory)</label>
        <locationX>495</locationX>
        <locationY>355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItem_InventoryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Date_of_Delivery__c</field>
            <value>
                <elementReference>Get_Product_Request_Line_Item_Records.ETD_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Product_Request_Line_Item_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ETDDateCollection</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetEarliestDatefromCollection</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItem_InventoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Product_Item_Inventory__r.Id</elementReference>
        </value>
    </variables>
</Flow>
