force-app/main/default/flows/AS_UpdateIsValid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Sum_Quantity_Available</name>
        <label>Sum Quantity Available</label>
        <locationX>774</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>varTotalQuanityAvailable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVehicleServiceItems.Quantity_Available__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopVehicleServiceItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Total_Quantity_Available</name>
        <label>Check Total Quantity Available</label>
        <locationX>778</locationX>
        <locationY>89</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Quantity_Available_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalQuanityAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVehicleServicePackage</targetReference>
            </connector>
            <label>Total Quantity Available Zero</label>
        </rules>
    </decisions>
    <description>Created By: Neha Aggrawal
Created Date: 17th  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-1224
Purpose: This flow will update the field isValid to false on Vehicle Service Package record when the quanity available on all the related vehicle service package items becomes zero.</description>
    <interviewLabel>AS_UpdateIsValid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_UpdateIsValidOnVehicleServicePackage</label>
    <loops>
        <name>LoopVehicleServiceItems</name>
        <label>LoopVehicleServiceItems</label>
        <locationX>454</locationX>
        <locationY>321</locationY>
        <collectionReference>GetVehicleServicePackageItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Quantity_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_Quantity_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetVehicleServicePackageItems</name>
        <label>GetVehicleServicePackageItems</label>
        <locationX>139</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopVehicleServiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Service_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVehicleServicePackageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Service_Package_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVehicleServicePackage</name>
        <label>UpdateVehicleServicePackage</label>
        <locationX>1030</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVehicleServicePackageId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VehicleServicePackage__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetVehicleServicePackageItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Vehicle_Service_Package_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTotalQuanityAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVehicleServicePackageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Vehicle_Service_Package__r.Id</elementReference>
        </value>
    </variables>
</Flow>
