force-app/main/default/flows/AS_UpdateInvenstoryonConfirm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Quantity_from_Inventory_and_Product_Item_Line_Item</name>
        <label>Add Quantity from Inventory and Product Item Line Item</label>
        <locationX>707</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>TotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Shipment_Record.Product_Item__r.QuantityOnHand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Shipment_Record.Quantity_Shipped__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_User_has_Parts_Manager_Permission_Set</name>
        <label>Check if User has Parts Manager Permission Set</label>
        <locationX>723</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_Parts_Manager_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignees.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipment_Record</targetReference>
            </connector>
            <label>User has Parts Manager Permission Set</label>
        </rules>
        <rules>
            <name>User_does_not_have_Parts_Manager_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignees.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Authorized_Screen</targetReference>
            </connector>
            <label>User does not have Parts Manager Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Confirmed</name>
        <label>Check Status Confirmed</label>
        <locationX>269</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_already_delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>If Status already delivered</label>
        </rules>
        <rules>
            <name>If_Status_not_delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipment</targetReference>
            </connector>
            <label>If Status not delivered</label>
        </rules>
    </decisions>
    <description>Created By: Neha Aggrawal
Created Date: 23rd  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-1605
Description: Update Product Item(Inventory) quantity and Product Request Line Item when a user with Permission &apos;Parts Manager&apos; clicks on change button on Product Request Line Item. Update Product Request Line Item with received quantity equal to requested quantity, change status to confirmed. 
Update Inventory with updated quantity.</description>
    <interviewLabel>AS_UpdateInvenstoryonConfirm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_UpdateInventoryonConfirm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Custom_Permission</name>
        <label>Get Custom Permission</label>
        <locationX>72</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AfterSales_Stock_Purchase_Permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomPermission</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Record</name>
        <label>Get Inventory Record</label>
        <locationX>737</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Quantity_from_Inventory_and_Product_Item_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Record.Product_Item__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignees</name>
        <label>Get Permission Set Assignees</label>
        <locationX>577</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_has_Parts_Manager_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_Id.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>308</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_Permission.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SetupEntityAccess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Record</name>
        <label>Get Shipment Record</label>
        <locationX>363</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>899</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Record.Product_Item__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <elementReference>TotalQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment</name>
        <label>Update Shipment</label>
        <locationX>540</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Get_Inventory_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Confirmed__c</field>
            <value>
                <elementReference>Get_Shipment_Record.Quantity_Shipped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>431</locationX>
        <locationY>940</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Shipment_Error_Message_For_confirm_and_change}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Authorized_Screen</name>
        <label>Not Authorized Screen</label>
        <locationX>955</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unauthorized</name>
            <fieldText>&lt;p&gt;{!$Label.Not_authorized}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Custom_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
