force-app/main/default/flows/CloneRepairPackage_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Handler</name>
        <label>Apex Handler</label>
        <locationX>1016</locationX>
        <locationY>806</locationY>
        <actionName>AS_CloneRepairPackage_Handler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Repair_Package_Created</targetReference>
        </connector>
        <inputParameters>
            <name>newrepairPackageId</name>
            <value>
                <elementReference>Create_Repair_Package</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairPackageItemList</name>
            <value>
                <elementReference>GetRepairPackageItemRecords</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This will concatenate repair package name and dealer name.</description>
        <name>ConcateNameRepairPackageName</name>
        <label>ConcateNameRepairPackageName</label>
        <locationX>386</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>varRepairPackageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNSCRecordType</targetReference>
        </connector>
    </assignments>
    <description>This flow will clone the repair package and repair package item records</description>
    <interviewLabel>CloneRepairPackage 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneRepairPackage 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This method will create the new repair package record.</description>
        <name>Create_Repair_Package</name>
        <label>Create Repair Package</label>
        <locationX>713</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>GetRepairPackageItemRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_RepairPackage.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Get_RepairPackage.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Get_RepairPackage.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varRepairPackageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceBook__c</field>
            <value>
                <elementReference>GetNSCPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetNSCRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RepairPackage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This method will get the Repair package record in the context of the flow.</description>
        <name>Get_RepairPackage</name>
        <label>Get_RepairPackage</label>
        <locationX>623</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNSCPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RepairPackage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNSCPriceBook</name>
        <label>GetNSCPriceBook</label>
        <locationX>404</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Repair_Package_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RepairPackage.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNSCPriceBookItems</name>
        <label>GetNSCPriceBookItems</label>
        <locationX>850</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNSCPriceBook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNSCRecordType</name>
        <label>GetNSCRecordType</label>
        <locationX>566</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Repair_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This method will find all the repair package item records for the repair package in the context</description>
        <name>GetRepairPackageItemRecords</name>
        <label>GetRepairPackageItemRecords</label>
        <locationX>860</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNSCPriceBookItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RepairPackage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RepairPackageItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>New_Repair_Package_Name</name>
        <label>New Repair Package Name</label>
        <locationX>236</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConcateNameRepairPackageName</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varNewRepairPackageName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repair_Package_Created</name>
        <label>Repair Package Created</label>
        <locationX>1058</locationX>
        <locationY>1014</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RepairPackageCreated</name>
            <fieldText>&lt;p&gt;Repair Package Created Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowRedirect</name>
            <extensionName>c:FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Create_Repair_Package</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Create_Repair_Package</assignToReference>
                <name>recId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>503</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>Get_RepairPackage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>This variable will hold the ID of Repair Package in the context of the flow execution.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the repair package item records</description>
        <name>varCollectionRepairPackageItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPackageItem__c</objectType>
    </variables>
    <variables>
        <description>This variable will hold the value of the new repair package name provided by the Dealer.</description>
        <name>varNewRepairPackageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the repair package item record assignment</description>
        <name>varRepairPackageItemRecordAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPackageItem__c</objectType>
    </variables>
    <variables>
        <description>This variable will hold the name of the repair packagte</description>
        <name>varRepairPackageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
