force-app/main/default/flows/Create_Vehicle_Service_Package_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Vehicle_Service_Package_Item_to_Collection</name>
        <label>Add Vehicle Service Package Item to Collection</label>
        <locationX>1052</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>varVehicleServicePackageItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLocalVehicleServicePackageItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Package_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Vehicle_Service_Package_Item</name>
        <label>Temp Vehicle Service Package Item</label>
        <locationX>856</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Discount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Discount_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.DiscountAmounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.DiscountAmounts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.DiscountRates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.DiscountRates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.DuplicatedUse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.DuplicatedUse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.LineItemType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.LineItemType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.MOD_DT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.MOD_DT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.MONTH_LIMIT_FROM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.MONTH_LIMIT_FROM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.MONTH_LIMIT_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.MONTH_LIMIT_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Number_of_Times__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Number_of_Times__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.ODMT_TYP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.ODMT_TYP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.ODOMETER_LIMIT_FROM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.ODOMETER_LIMIT_FROM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.ODOMETER_LIMIT_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.ODOMETER_LIMIT_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Part_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.PART_NO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.SpiUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.SpiUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.spiValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.spiValidity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.SVC_OP_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Package_Item.SVC_OP_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Vehicle_Service_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVehicleServicePackageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocalVehicleServicePackageItem.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVehicleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Vehicle_Service_Package_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Created By: Neha Aggrawal
Created Date: 16th  Dec 2020
User Story: https://jira.hyundai-autoever.eu/browse/GD-1224
Purpose: This flow will create a Vehicle Service Package Line Item record when the vehicle service package record is created.</description>
    <interviewLabel>Create Vehicle Service Package Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS_Create Vehicle Service Package Item</label>
    <loops>
        <name>Loop_Service_Package_Item</name>
        <label>Loop Service Package Item</label>
        <locationX>521</locationX>
        <locationY>354</locationY>
        <collectionReference>Get_Service_Package_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temp_Vehicle_Service_Package_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>varCreateVehicleServicePackageitem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>varCreateVehicleServicePackageitem</name>
        <label>var Create Vehicle Service Package Item</label>
        <locationX>646</locationX>
        <locationY>96</locationY>
        <inputReference>varVehicleServicePackageItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Package_Item</name>
        <label>Get Service Package Item</label>
        <locationX>242</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Package_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServicePackageID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Package_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Package_Item</targetReference>
        </connector>
        <object>VehicleServicePackage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLocalVehicleServicePackageItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Service_Package_Item__c</objectType>
    </variables>
    <variables>
        <name>varServicePackageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Service_Package__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varServicePackageItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Package_Item__c</objectType>
    </variables>
    <variables>
        <name>varVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Vehicle__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varVehicleServicePackageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varVehicleServicePackageItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Service_Package_Item__c</objectType>
    </variables>
</Flow>
